*{
    color: white;
    font-weight: 800;
    font-size: 20px;
}

QWidget{
    background-color: #2B303A;
}

QLineEdit{
    background-color: #434a56;
}

QPushButton{
    background-color: #7C7C7C;
}

QPushButton#redButton{
    background-color: #D64933;
}